.theme {
  background-color: var(--color-background-secondary-dark);
  border: 1px solid var(--color-border-dark);
}

.chartTitle {
  color: var(--color-text-primary-dark);
}

.customTooltip {
  background-color: rgba(26, 34, 53, 0.8);
  border: 1px solid #1e293b;
  color: var(--color-text-primary-dark);
  box-shadow: var(--shadow-lg-dark);
}

.tooltipLabel {
  color: #cbd5e1;
}

.tooltipValue {
  color: #f8fafc;
}

.grid {
  stroke: #334155;
}

.axis {
  fill: #cbd5e1;
  font-size: 12px;
}
