.container {
  background-color: #0c4a6e;
  border-color: #075985;
}

.previewArea {
  background-color: var(--bg-primary-dark);
  border-color: var(--border-dark);
  color: var(--text-secondary-dark);
}
