.link {
  color: var(--color-text-secondary-light);
}

.link:hover {
  background-color: var(--bg-secondary-light);
  color: var(--text-primary-light);
}

.link.active {
  background-color: var(--bg-secondary-light);
  color: var(--text-primary-light);
}