.page {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
}

.iconWrapper {
  background-color: #fee2e2; /* bg-red-100 */
}

.description {
  color: #4b5563; /* text-gray-600 */
}

.link {
  color: var(--color-text-secondary-light); /* text-gray-500 */
}

.link:hover {
  color: #111827; /* text-gray-900 */
}
