.sliderTrack {
  background-color: #e9eef2;
}

.sliderRange {
  background-color: var(--ml-blue); /* MegiLance Blue */
}

.sliderThumb {
  background-color: var(--bg-primary-light);
  border: 2px solid var(--ml-blue); /* MegiLance Blue */
}

.sliderThumb:focus {
  border-color: var(--ml-blue);
}
